@inject IMediaLibraryApiWrapper MediaLibraryApi

<Card>
    <CardHeader>
        <Row Class="justify-content-between">
            <Column ColumnSize="ColumnSize.IsAuto">
                <h4>Треки</h4>
            </Column>
            <Column ColumnSize="ColumnSize.IsAuto">
                <Button Color="Color.Primary" Clicked="OpenCreateModal">
                    Создать
                </Button>
            </Column>
        </Row>
    </CardHeader>
    <CardBody>
        <DataGrid TItem="Track"
                  Data="_tracks"
                  Responsive
                  Striped>
            <DataGridColumns>
                <DataGridColumn Width="150px"
                                TItem="Track"
                                Field="@nameof(Track.Id)"
                                Caption="Действия">
                    <DisplayTemplate>
                        <Dropdown>
                            <DropdownToggle Color="Color.Primary">
                                Действия
                            </DropdownToggle>
                            <DropdownMenu>
                                <DropdownItem Clicked="() => OpenEditPageAsync(context)">
                                    Редактировать
                                </DropdownItem>
                                <DropdownItem Clicked="() => DeleteTrackAsync(context)">
                                    Удалить
                                </DropdownItem>
                            </DropdownMenu>
                        </Dropdown>
                    </DisplayTemplate>
                </DataGridColumn>
                <DataGridColumn TItem="Track"
                                Field="@nameof(Track.Number)"
                                Caption="Номер трека">
                </DataGridColumn>
                <DataGridColumn TItem="Track"
                                Field="@nameof(Track.Name)"
                                Caption="Название трека">
                </DataGridColumn>
                <DataGridColumn TItem="Track"
                                Field="@nameof(Track.Time)"
                                Caption="Продолжительность">

                </DataGridColumn>
                <DataGridColumn TItem="Track" Caption="Альбом">
                    <DisplayTemplate>
                        @GetAlbumName(context.AlbumId)
                    </DisplayTemplate>
                </DataGridColumn>
            </DataGridColumns>
        </DataGrid>
    </CardBody>
</Card>

<TrackCreateModal @ref="_trackCreateModal" OnTrackAdded="@HandleTrackListChanged" />
<TrackUpdateModal @ref="_trackUpdateModal" TrackToUpdate="_selectedTrack" Id="_selectedId" OnTrackUpdated="@HandleTrackListChanged" />

@code {
    private IEnumerable<Track> _tracks = [];
    private IEnumerable<Album>? _albums;
    private int _selectedId;
    private TrackDto? _selectedTrack;
    private TrackCreateModal _trackCreateModal = new();
    private TrackUpdateModal _trackUpdateModal = new();

    protected override async Task OnInitializedAsync()
    {
        await RefreshTracksCollection();
        await base.OnInitializedAsync();
    }

    private async Task OpenEditPageAsync(Track context)
    {
        _selectedId = context.Id;
        _selectedTrack = new TrackDto
            {
                Number = context.Number,
                Name = context.Name,
                AlbumId = context.AlbumId,
                Time = context.Time
            };
        await _trackUpdateModal.Show();
    }

    private async Task DeleteTrackAsync(Track context)
    {
        await MediaLibraryApi.DeleteTrack(context.Id);
        await RefreshTracksCollection();
    }

    private async Task HandleTrackListChanged()
    {
        await RefreshTracksCollection();
    }

    private async Task OpenCreateModal() => await _trackCreateModal.Show();

    private async Task RefreshTracksCollection()
    {
        _tracks = await MediaLibraryApi.GetAllTrack();
        _albums = await MediaLibraryApi.GetAllAlbum();
    }

    private string GetAlbumName(int albumId)
    {
        return _albums?.FirstOrDefault(a => a.Id == albumId)?.Name ?? "Неизвестный альбом";
    }
}
