@page "/albums-info"
@inject IMediaLibraryApiWrapper MediaLibraryApi

<Card>
    <Alert Color="Color.Danger" @bind-Visible="@_isAlertVisible">
        <AlertMessage>Вы не ввели корректный год альбома или данных нет!</AlertMessage>
    </Alert>
    <CardHeader>
        <h4>Информация об альбомах в году</h4>
    </CardHeader>
    <CardBody>
        <DataGrid TItem="AlbumInfoDto" Data="_albums" Responsive Striped>
            <DataGridColumns>
                <DataGridColumn TItem="AlbumInfoDto" Field="@nameof(AlbumInfoDto.Name)" Caption="Название альбома" />
                <DataGridColumn TItem="AlbumInfoDto" Field="@nameof(AlbumInfoDto.TrackCount)" Caption="Количество треков" />
                <DataGridColumn TItem="AlbumInfoDto" Field="@nameof(AlbumInfoDto.Date)" Caption="Дата релиза">
                     <DisplayTemplate>
                        @context.Date.ToString("yyyy-MM-dd")
                    </DisplayTemplate>
                </DataGridColumn>
            </DataGridColumns>
        </DataGrid>
    </CardBody>
</Card>

<Div>
    <label>Год альбома:</label>
    <InputNumber @bind-Value="_year" />

    <Button Color="Color.Primary" Clicked="RefreshAlbumsCollection">Поиск</Button>
</Div>

@code {
    private IEnumerable<AlbumInfoDto> _albums = new List<AlbumInfoDto>();
    private int _year = 0;  
    private bool _isAlertVisible = false;

    private async Task RefreshAlbumsCollection()
    {
        try
        {
            if (_year >= 2025 && _year <= 1900)
            {
                _isAlertVisible = true;
                return;
            }

            _albums = await MediaLibraryApi.GetAlbumsInfo(_year);
            _isAlertVisible = false;
        }
        catch
        {
            _isAlertVisible = true;
        }
    }
}
